<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DXC Portfolio Application</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
  <link rel="stylesheet" href="main.css" />
</head>
<body> 
<div class="container-fluid">                       
        <div class="row row-split">
               <div class="profile-photo-container-col">
                       <!-- TODO -->                 
                       <a href="" class="profile-photo-container profile"> 
                              <!-- <img class="img-responsive" src="../images/shutterstock_664120249@2x.png" /> -->
                       </a>
                       <p class="likes-share"><a href="#" class="likes">25</a><a href="#" class="share">100</a></p>
                       <p class="profile-updated-status">Profile updated: 25/01/2019</p>
               </div>
               <div class="col">
                        <div class="row"> 
                                <div class="col-md-12 profile-header-main">                                        
                                                <div class="profile-photo-mobile-container">
                                                        <a href="" class="profile-photo-container profile">
                                                                <span class="billable status"></span>
                                                        </a>                                                                                                           
                                                </div>
                                                <a class="hamburger-link-button"><img src="./images/menu_hamburger.svg" /></a>
                                                <div class="user-contact-avail-details">
                                                        <div class="user-details"><a href="#" class="mobile-no icon-mobile">+91-3989489981</a> <span class="divider">|</span> <a href="#" class="email-id icon-email">sarah6@dxc.com</a></div>
                                                        <div class="user-details"><a href="#" class="manager-name icon-avator">Alam Mohammed</a></div>
                                                        <div class="user-details icon-textdoc"><a href="#">Billable <sup class="billable">&#x25CF;
                                                                </sup></a> 
                                                                <!-- / <a href="#">Available</a> -->
                                                        </div>
                                                        <!-- <div class="user-details"><a href="#" class="icon-share">Share</a></div> -->
                                                </div>
                                                
                                      
                                </div>                                                    
                         </div>
                         <div class="row">
                                <div class="col profile-container">
                                        <h2>Sarah Emmanuel</h2>
                                        <h6>Senior User Experience/User Interface Designer</h6>
                                        <h6>8 years - P2 Application Delivery</h6>
                                        <h6 class="date-of-joining">Joined On: 13/01/2019</h6>
                                </div>
                         </div>
                         <div class="row">
                                <div class="col profile-intro-container">
                                        <!-- Profile introduciton -->
                                                                                 
                                        <p class="profile-intro">Sarah is fueled by her passion for understanding the nuances of cross-cultural advertising. She considers herself a ‘forever student,’ eager to both build on her academic foundations in psychology and sociology.</p>                                      
                                        <div class="profile-update-status-mobile">                                                        
                                                        <p class="likes-share"><a href="#" class="likes">25</a><a href="#" class="share">100</a></p>
                                                        <span></span>
                                                        <p class="profile-updated-status">Profile updated: 25/01/2019</p>
                                        </div>
                                        <!-- Core Expertise Skills -->  
                                        <div class="core-expertise-skills-container">                                   
                                                <section>
                                                        <!-- Title -->
                                                        <h6 class="page-content-title">Core Expertise Skill:</h6>
                                                        <!-- Skill list details -->
                                                        <span class="skill-title">UXD</span>  
                                                        <span class="skill-title">Information Architecture</span> 
                                                        <span class="skill-title">GUI</span>
                                                        <span class="skill-title">Native App</span>
                                                        <span class="skill-title">User Rearch</span>
                                                        <span class="skill-title">Accessibility</span>
                                                        <span class="skill-title">Web</span>
                                                </section>

                                                <!-- Core Expertise Skills -->                                         
                                                <section>
                                                        <!-- Title -->
                                                        <h6 class="page-content-title">Secondary Skills:</h6>
                                                        <!-- Skill list details -->
                                                        <span class="skill-title">AVR/VR Apps</span>  
                                                        <span class="skill-title">ios Apps</span> 
                                                </section>
                                        </div>
                                        <div class="contact-details-container">
                                                <h6 class="page-content-title">Contact</h6>
                                                <!-- -->
                                                <ul class="list-group list-group-flush">
                                                        <li class="list-group-item icon-email">
                                                                <h6>Email</h6>
                                                                <a href="#">Sarah6@dxc.com</a>
                                                        </li>
                                                        <li class="list-group-item icon-mobile">
                                                                <h6>Phone</h6>
                                                                <a href="#">+91-3989489981</a>  
                                                        </li>
                                                        <li class="list-group-item icon-manager">
                                                                <h6>Manager</h6>
                                                                <a href="#">Alam Mohammad</a>
                                                        </li>                                                     
                                                </ul>
                                        </div>
                                </div>   
                         </div>
               </div>
        </div>
</div>
<div class="container-fluid">
        <div class="row total-project-engagements">
                <div class="title-container">
                        <h4 class="title">Engagements</h4>
                </div >
                <div class="engagement-container">
                        <div class="engagments">Total Projects: <strong>14</strong></div>
                        <div class="engagments">Projects @DXC: <strong>05</strong></div>
                </div>
        </div>
        <div class="row">
                <div class="col-sm-3 col-md-3 project-summay-list-column">
                        <div class="project-summary-list">
                                <div class="header">Project Summary</div>
                                <div class="body">
                                        <a href="#" class="project-list-item"><span>Project Name</span> <span>...</span></a>
                                        <a href="#" class="project-list-item"><span>Project Name</span> <span>...</span></a>
                                        <a href="#" class="project-list-item"><span>Project Name</span> <span>...</span></a>
                                        <a href="#" class="project-list-item"><span>Project Name</span> <span>...</span></a>
                                        <a href="#" class="project-list-item"><span>Project Name</span> <span>...</span></a>
                                        <a href="#" class="project-list-item"><span>Project Name</span> <span>...</span></a>
                                        <a href="#" class="project-list-item"><span>Project Name</span> <span>...</span></a>
                                  
                                </div>
                        </div>                              
                </div>
                <div class="col-sm-9 col-md-9">                      
                        <div class="project-summary-detail">
                                        <!-- Left Button -->
                                        <a href="#" class="button-left"></a>
                                        <!-- Body container : The has to be dynamically populated -->
                                        <div class="summary-details-container">
                                                <div class="summary-details-header">
                                                        <div class="project-client-name">
                                                                <h5>A Virtuous Management System</h5>
                                                                <h6 class="client-name">SCG Chemicals Ltd,.</h6>
                                                        </div>
                                                        <div class="project-role-date">
                                                                <p class="role">Role: <strong>UX Architect</strong></p>
                                                                <p class="date">Jan 2019 - May 2019</p>
                                                        </div>
                                                </div>
                                                <p class="project-description">Project descriptions provide the following details to the applicants: the problem the project will address, a set of goals for the project, the overall objectives for the project, as well as a project plan that describes the activities.</p>                                                                
                                                <p class="technology-stack">Tools & Technology: <strong>Adobe XD , Morea</strong></p>
                                                <p class="skills">Skills : <strong>GUI & User Testing</strong></p>
                                                <p class="skills">Appreciation & Feedback : <strong>3</strong></p>

                                                <!-- <div class="appreciation-container"> -->
                                                        <ul class="appreciation-container">
                                                                <li class="appreciation-list">
                                                                        <p class="profile-name"><img src="./images/user-avatar-main-picture.svg" alt="profile image" /> Babu Arumugam</p>
                                                                        <article class="profile-desc">Nice Effort and Fast Deliverables</article>
                                                                </li>
                                                                <li class="appreciation-list">
                                                                        <p class="profile-name"><img src="./images/user-avatar-main-picture.svg" alt="profile image" /> Babu Arumugam</p>
                                                                        <article class="profile-desc" title="Sarah's work is consistently clear, clean, & thoughtful. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias vel adipisci nisi porro officiis commodi quo sint exercitationem aliquid impedit quia eveniet sit saepe soluta quos veritatis doloribus hic nesciunt, laboriosam ipsam fuga. Aliquam corrupti veniam aspernatur delectus ad id?">Sarah's work is consistently clear, clean, & thoughtful. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias vel adipisci nisi porro officiis commodi quo sint exercitationem aliquid impedit quia eveniet sit saepe soluta quos veritatis doloribus hic nesciunt, laboriosam ipsam fuga. Aliquam corrupti veniam aspernatur delectus ad id?</article>
                                                                </li>
                                                        </ul>
                                                <!-- </div> -->
                                        </div>
                                        <!-- Right Button -->
                                        <a href="#" class="button-right"></a>
                        </div>                       
                </div>
        </div>
        <div class="row">
                <div class="col-12">
                         <!-- Experience -->
                         <div class="accordion" id="project-accordian">
                                        <div class="card">
                                                <div class="card-header" id="headingOne">
                                                <h6 class="mb-0">
                                                        <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><strong>Experience</strong></span>
                                                        <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="close-arrow collapsed"></a>
                                                </h6>
                                                </div>
                                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#project-accordian">
                                                <div class="card-body">
                                                   <!-- Project Experience Details Start -->
                                                   <ul class="project-experience-details">     
                                                        <li class="project-experience-details-item">
                                                                <div class="project-experience-flow">
                                                                        <div class="circle current"></div>
                                                                        <div class="connector-line"></div>
                                                                </div>
                                                                <div class="project-experience-details-content">
                                                                        <div class="project-experience-details-hdr-group">
                                                                                <div class="header"><h5 class="project-role">Senior User Experience/User Interface Designer</h5>
                                                                                <h6 class="project-company">DXC Technology</h6>
                                                                                </div>
                                                                                <div class="duration">Jan 2019 - Present</div>
                                                                        </div>
                                                                        <p class="project-des">Make sure the title of the job position and description match. Do your research. If you're not familiar with the job, talk to someone who is and have them help with the description. Make sure it clearly defines the goals of the position and a timeline for reaching them.</p>
                                                                        <p class="project-skills">Skills: <strong>GUI & User Testing</strong></p>
                                                                        <p class="project-count">Projects Worked: <strong>03</strong></p>
                                                                </div>
                                                        </li>
                                                        <li class="project-experience-details-item">
                                                                        <div class="project-experience-flow">
                                                                                <div class="circle"></div>
                                                                                <div class="connector-line"></div>
                                                                        </div>
                                                                        <div class="project-experience-details-content">
                                                                                <div class="project-experience-details-hdr-group">
                                                                                <div class="header">
                                                                                        <h5 class="project-role">User Experience Designer </h5>
                                                                                        <h6 class="project-company">Tata Consultancy Services</h6>
                                                                                </div>
                                                                                <span class="duration">May 2015 - Dec 2018</span>
                                                                                </div>
                                                                                <p class="project-des">Make sure the title of the job position and description match. Do your research. If you're not familiar with the job, talk to someone who is and have them help with the description. Make sure it clearly defines the goals of the position and a timeline for reaching them.</p>
                                                                                <p class="project-skills">Skills: <strong>GUI & Inforamtion Architecture</strong></p>
                                                                                <p class="project-count">Projects Worked: <strong>06</strong></p>
                                                                        </div>
                                                        </li>
                                                        <li class="project-experience-details-item">
                                                                        <div class="project-experience-flow">
                                                                                <div class="circle"></div>
                                                                               <div class="connector-line"></div>
                                                                        </div>
                                                                        <div class="project-experience-details-content">
                                                                                <div class="project-experience-details-hdr-group">
                                                                                        <div class="header">
                                                                                                <h5 class="project-role">User Experience Designer </h5>
                                                                                                <h6 class="project-company">Tata Consultancy Services</h6>
                                                                                        </div>
                                                                                        <span class="duration">May 2015 - Dec 2018</span>
                                                                                </div>
                                                                                <p class="project-des">Make sure the title of the job position and description match. Do your research. If you're not familiar with the job, talk to someone who is and have them help with the description. Make sure it clearly defines the goals of the position and a timeline for reaching them.</p>
                                                                                <p class="project-skills">Skills: <strong>GUI & Inforamtion Architecture</strong></p>
                                                                                <p class="project-count">Projects Worked: <strong>06</strong></p>
                                                                        </div>
                                                        </li>
                                                        <li class="project-experience-details-item">
                                                                        <div class="project-experience-flow">
                                                                                <div class="circle"></div>
                                                                                <div class="connector-line"></div>
                                                                        </div>
                                                                        <div class="project-experience-details-content">
                                                                                        <div class="project-experience-details-hdr-group">
                                                                                                        <div class="header">
                                                                                <h5 class="project-role">User Experience Designer </h5>
                                                                                <h6 class="project-company">Tata Consultancy Services</h6>
                                                                                </div><span class="duration">May 2015 - Dec 2018</span></div>
                                                                                <p class="project-des">Make sure the title of the job position and description match. Do your research. If you're not familiar with the job, talk to someone who is and have them help with the description. Make sure it clearly defines the goals of the position and a timeline for reaching them.</p>
                                                                                <p class="project-skills">Skills: <strong>GUI & Inforamtion Architecture</strong></p>
                                                                                <p class="project-count">Projects Worked: <strong>06</strong></p>
                                                                        </div>
                                                        </li>
                                                        <li class="project-experience-details-item">
                                                                        <div class="project-experience-flow">
                                                                                <div class="circle"></div>
                                                                                <div class="connector-no-line"></div>
                                                                        </div>
                                                                        <div class="project-experience-details-content">
                                                                                        <div class="project-experience-details-hdr-group">
                                                                                                        <div class="header">
                                                                                <h5 class="project-role">User Experience Designer </h5>
                                                                                <h6 class="project-company">Tata Consultancy Services</h6>
                                                                                </div><span class="duration">May 2015 - Dec 2018</span></div>
                                                                                <p class="project-des">Make sure the title of the job position and description match. Do your research. If you're not familiar with the job, talk to someone who is and have them help with the description. Make sure it clearly defines the goals of the position and a timeline for reaching them.</p>
                                                                                <p class="project-skills">Skills: <strong>GUI & Inforamtion Architecture</strong></p>
                                                                                <p class="project-count">Projects Worked: <strong>06</strong></p>
                                                                        </div>
                                                        </li>
                                                   </ul>
                                                   <div class="expand-button-container">
                                                        <a href="" class="show-more">See all positions</a>
                                                   </div>
                                                   <!-- Project Experience Details End -->
                                                </div>
                                                </div>
                                        </div>
                                        <div class="card">
                                                <div class="card-header" id="headingTwo">
                                                <h6 class="mb-0">
                                                <!-- <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Testimonials
                                                </button> -->
                                                <span data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><strong>Testimonials</strong></span>
                                                <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="close-arrow collapsed"></a>
                                                </h6>
                                                </div>
                                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#project-accordian">
                                                <div class="card-body">
                                                        <div class="project-testimonials">
                                                                <div class="project-item">
                                                                        <figure class="profile-thumbnail-img">
                                                                                <img src="./images/20_portrait_1.png" alt="portrait image" class="profile-image-rwd" />
                                                                                <figcaption><strong>Adam Gilgrisht</strong></figcaption>
                                                                        </figure>
                                                                        <p class="project-designation">Project Delivery Head, DXC Technology</p>
                                                                        <p>Sarah is fueled by her passion for understanding the nuances of cross-cultural advertising. She considers herself a ‘forever student....</p>
                                                                </div>
                                                                <div class="project-item">
                                                                        <figure class="profile-thumbnail-img">
                                                                                <img src="./images/20_portrait_1.png" alt="portrait image" class="profile-image-rwd" />
                                                                                <figcaption><strong>Adam Gilgrisht</strong></figcaption>
                                                                        </figure>
                                                                        <p class="project-designation">Project Delivery Head, DXC Technology</p>
                                                                        <p>Sarah is fueled by her passion for understanding the nuances of cross-cultural advertising. She considers herself a ‘forever student....</p>
                                                                </div>
                                                                <div class="project-item">
                                                                        <figure class="profile-thumbnail-img">
                                                                                <img src="./images/20_portrait_1.png" alt="portrait image" class="profile-image-rwd" />
                                                                                <figcaption><strong>Adam Gilgrisht</strong></figcaption>
                                                                        </figure>
                                                                        <p class="project-designation">Project Delivery Head, DXC Technology</p>
                                                                        <p>Sarah is fueled by her passion for understanding the nuances of cross-cultural advertising. She considers herself a ‘forever student....</p>
                                                                </div>
                                                                <div class="project-item">
                                                                        <figure class="profile-thumbnail-img">
                                                                                <img src="./images/20_portrait_1.png" alt="portrait image" class="profile-image-rwd" />
                                                                                <figcaption><strong>Adam Gilgrisht</strong></figcaption>
                                                                        </figure>
                                                                        <p class="project-designation">Project Delivery Head, DXC Technology</p>
                                                                        <p>Sarah is fueled by her passion for understanding the nuances of cross-cultural advertising. She considers herself a ‘forever student....</p>
                                                                </div>
                                                                <!-- <div class="project-item"></div>
                                                                <div class="project-item"></div>
                                                                <div class="project-item"></div>
                                                                <div class="project-item"></div>
                                                                <div class="project-item"></div>
                                                                <div class="project-item"></div>
                                                                <div class="project-item"></div>
                                                                <div class="project-item"></div>
                                                                <div class="project-item"></div>
                                                                <div class="project-item"></div> -->
                                                        </div>
                                                </div>
                                                </div>
                                        </div>
                                        <div class="card">
                                                <div class="card-header" id="headingThree">
                                                <h6 class="mb-0">
                                                <!-- <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Education
                                                </button> -->
                                                <span data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><strong>Education</strong></span>
                                                <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="close-arrow collapsed"></a>
                                                </h6>
                                                </div>
                                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#project-accordian">
                                                <div class="card-body">
                                                        <!-- Employee education details Start -->
                                                        <div class="employee-education-details">                                                                        
                                                                <div class="employee-education-details-item">
                                                                        <figure>
                                                                                <img src="./images/mortarboard.svg" alt="mortarboard" class="mortarboard" />
                                                                        </figure>
                                                                        <aside>
                                                                                <h5 class="heading">Bachelor of Engineering in Computer Science <span>June 2014 - June 2017</span></h5>
                                                                                <h6 class="education-university">Join University</h6>
                                                                                <p class="education-percentage">Aggregation Percentage :<strong>75%</strong></p>
                                                                        </aside>
                                                                </div>
                                                                <div class="employee-education-details-item">
                                                                        <figure>
                                                                                <img src="./images/graduate-certificate.svg" alt="mortarboard" class="mortarboard" />
                                                                        </figure>
                                                                        <aside>
                                                                                <h5 class="heading">SSLC <span>June 2014 - June 2017</span></h5>
                                                                                <h6 class="education-university">St.Joseph Higher Secondary School</h6>
                                                                                <p class="education-percentage">Aggregation Percentage :<strong>75%</strong></p>
                                                                        </aside>
                                                                </div>
                                                                <div class="employee-education-details-item">
                                                                        <figure>
                                                                                <img src="./images/26-school.svg" alt="mortarboard" class="certificate" />
                                                                        </figure>
                                                                        <aside>
                                                                                <h5 class="heading">Usability Testing<span>June 2014 - June 2017</span></h5>
                                                                                <h6 class="education-university">Human Factors International</h6>
                                                                                <h5 class="heading">Usability Testing <span>June 2014 - June 2017</span></h5>
                                                                                <h6 class="education-university">Human Factors International</h6>
                                                                        </aside>                                                                        
                                                                </div>
                                                        </div>
                                                </div>
                                                </div>
                                        </div>
                        </div>
                </div>
        </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
